<div class="backdrop">
  <div class="update">
    <h3>Update Available</h3>
    <p>There is an update available for Katana. Please update to the latest version for the best experience.</p>
    <p><span>The appplication will restart after updating</span></p>
    <p>
      <a href="#download" class="button">Download Update</a>
      <a href="#cancel">I'll do it later</a>
    </p>
  </div>

  <div class="progress">
    <span class="octicon octicon-sync icon-text spin"></span> Downloading...
    <div class="bar">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>