@import url('https://fonts.googleapis.com/css?family=VT323');

header {
  -webkit-app-region: drag;
}

img {
  -webkit-user-drag: none;
}

h4 {
  margin: 0 !important;
  padding: 0 !important;
}

#general, #shortcuts, #about, #secret {
  width: 100%;
  padding-left: 14px;
}

#shortcuts, #about, #secret {
  display: none;
}

#secret {
  background-color: #000;
  font-family: 'VT323', monospace;
  color: #0AC92B;
}

#secret > .warning {
	padding-left: 8px;
}

#ninja {
  position: fixed;
  bottom: 29px; right: 10px;
}

#about {
  padding-top: 20px;
  text-align: center;
  background: url('../images/backgrounds/furley_bg.png');
}

#about > .content {
  text-align: left;
  margin-top: -20px;
  margin-left: 20px;
}

.links {
  padding-top: 10px;
}

.links > a {
  display: block;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about > .content h1 {
  font-weight: 200;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
}

#version {
  position: relative;
  top: -20px;
  left: 10px;
  display: inline-block;
}

.desc {
  margin-top: -16px;
  opacity: 0.75;
}

#about p {
  padding: 0px;
  margin: 5px;
}

#credits {
  display: none;
  z-index: 999;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
}

a.link {
  opacity: 0.75;
  color: #fff !important;
  text-decoration: underline;
}

a.link:hover {
  opacity: 1;
}

#ninja > img.invert {
	filter: invert(100%);
}
#credits > .content {
  color: #fff;
  padding-left: 30px;
  text-align: left;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
}

.logo {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-size: 24px;
  text-align: center;
}

.logo > img {
  display: block;
  margin: 4px auto;
}

.indent {
  padding-left: 12px;
}

#shortcuts .form-group {
  line-height: 24px;
}

#shortcuts h4 {
  padding-bottom: 8px;
}

#shortcuts label {
  vertical-align: middle;
  padding-right: 5px;
}

#shortcuts .form-control {
  vertical-align: middle;
  display: inline-block;
  width: 140px;
  text-align: center;
}

div.form-control {
  color: #999;
}

div.form-control.active {
  border-color: #6db3fd;
  box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd, 3px -3px 0 #6db3fd;
}

.select {
  line-height: 24px;
  vertical-align: middle;
}

#uploadService {
  margin-left: 10px;
  width: 150px;
}

.notice-dev {
  display: none;
  position: absolute;
  top: 27px;
  right: 8px;
  color: #ff0000;
  font-size: 12px;
  font-weight: 800;
}