@import url('../octicons/octicons.css');

* {
  user-select: none !important;
  cursor: default;
  transition: all .2s;
}

html, body {
  overflow: hidden !important;
  font-family: 'Helvetica Neue';
  font-size: 12px;
  width: 480px !important;
  max-width: 480px !important;
}

html, body, .sidebar, .container {
  -webkit-app-region: drag;
}

html {
}

img, button, a, input {
  -webkit-user-drag: none;
}

.sidebar {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0px; top: 0px;
  width: 100px;
  height: 100%;
  text-align: center;
}

.sidebar > img {
  width: 48px;
  margin-top: 18px;
  transition: all .2s;
}

.sidebar > img:hover {
  transform: scale(1.07) rotate(4deg);
}

.sidebar > ul {
  margin: 2px 0px;
  padding: 0px;
}

.sidebar > ul > li {
  margin: 0px; padding: 0px;
}

.sidebar > ul > li > a {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  text-decoration: none;
  padding: 10px;
  width: 80px;
  transition: all .2s;
  text-align: left;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.sidebar > ul > li.save > a:hover {
  background: linear-gradient(to bottom, #6eb4f7 0%, #1a82fb 100%);
}

.sidebar > ul > li > a > .octicon {
  padding-right: 6px;
}

.sidebar > ul > li.active > a,
.sidebar > ul > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.container {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0px; left: 100px;
  width: 100%; height: 100%;
  color: #333;
}

.container > .view {
  display: none;
  padding: 12px;
}

.container > .view > h3 {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  padding: 6px;
  padding-left: 10px;
}

.container > .view h4 {
  margin-bottom: 10px;
}

.container > .view > .content {
  margin-top: 30px;
  width: 380px;
}

#close {
  display: block;
  width: 12px;
  height: 12px;
  border: 0px;
  border-radius: 100%;
  background: #dcdcdc;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 6px; left: 6px;
  z-index: 99999;
  transition: all .2s;
}

#close:hover {
  background: #fc625d;
}

#close:active, #close:focus {
  outline: none;
}

.section {
  margin: 6px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.section.disabled {
  opacity: 0.5;
  cursor: default !important;
}

.section:last-child {
  border-bottom: none;
}

.section > .title {
  margin: 0;
}

.section > .subtitle {
  font-size: 11px;
  margin-top: 4px;
  opacity: 0.75;
}

.section > .switch {
  position: absolute;
  right: 120px;
  margin-top: -36px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  vertical-align: middle;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: #ebebeb;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #419bf9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #419bf9;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

#general .select {
  margin-top: 10px;
}

#general .select > span {
  display: block;
  font-weight: bold;
}

#general .select > select {
  margin-top: 6px;
}

#about .button {
  display: block;
}

#about h3 {
  margin-bottom: 0px;
}

#about h4 {
  margin-top: 4px;
  font-weight: 400;
  opacity: 0.75;
}

#about p:last-child {
  position: absolute;
  right: 114px;
  bottom: 0px;
  font-size: 10px;
}

#about a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

#about a:hover {
  opacity: 0.75;
}

#about .section:last-child {
  border-bottom: none;
}

.backdrop {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  color: #fff;
  z-index: 9999;
}

.backdrop > .update {
  margin: 60px auto;
  background: rgba(238, 238, 238, 0.9);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 300px;
  height: 154px;
  padding: 1px 14px;
  color: #333;
}

.backdrop > .update > p:last-child > a {
  display: block;
}

.backdrop a[href="#cancel"] {
  font-size: 10px;
  color: #333;
  margin-left: 4px;
  border-bottom: 1px solid transparent;
  width: 56px;
  text-decoration: none;
}

.backdrop a[href="#cancel"]:hover {
  border-bottom-color: #333;
}

.control {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 5px 8px;
  border-radius: 4px !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  vertical-align: middle;
  transition: all .2s;
  border: 2px solid transparent;
  -webkit-appearance: none;
}

.control.active {
  border: 2px solid #2196F3;
}

.control:focus, .control:active {
  outline: none;
}

select.control {
  height: 29px;
  width: 140px;
}

select.control {
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.shortcutInput {
  width: 200px;
  margin-bottom: 12px;
}

.button {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
  color: #000;
  padding: 6px 8px;
  border-radius: 4px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: 400 !important;
  vertical-align: middle;
  transition: all .2s;
  width: 100px;
  margin: 8px 0px;
  text-decoration: none;
  opacity: 0.85;
}

.button:hover {
  opacity: 1 !important;
  color: #333;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.button > .octicon {
  margin-right: 4px;
}

.button.primary {
  width: 120px;
  background: linear-gradient(to bottom, #439df7 0%, #207FDD 100%);
  color: #fff !important;
  border: 1px solid #207FDD;
  margin-top: 20px;
}

.button.small {
  padding: 4px 6px;
  font-size: 10px;
  width: 110px;
}

.button.small > span {
  font-size: 14px !important;
}

.progress {
  display: none;
  font-size: 11px;
}

.progress > .octicon {
  font-size: 12px;
  margin-right: 2px;
}

.progress > .bar {
  position: relative;
  height: 6px;
  display: block;
  background-color: #ebebeb;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  border-radius: 6px;
}

.progress > .bar .indeterminate {
  background-color: #3c9bfa;
  border-radius: 6px;
}

.progress > .bar .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 3s linear infinite;
  border-radius: 6px;
}

.progress > .bar .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 3s linear infinite;
  animation-delay: 1.15s;
  border-radius: 6px;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}